---
import Area from '../icons/Area.astro';
import Cama from '../icons/Cama.astro';
import Personas from '../icons/Personas.astro';
import Info from './Info.astro'

interface Props {
  title: string;
  area: string;
  price: string;
  nHabitaciones:number;
  tipoCama: string;
  servicios: string[];
  capacidad: string;
  url: string;
}
const { title, price,nHabitaciones, area, tipoCama, servicios, capacidad, url } = Astro.props;
---

<div
  class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-10"
>
  <div class="relative">
    <img
      class="rounded-t-lg w-full h-[300px] object-cover"
      src=`${url}`
      alt=""
    />
    <div
      class="absolute top-0 m-2 px-4 py-2 text-sm rounded-2xl text-white bg-[#003366]"
    >
      {price}
    </div>
  </div>

  <div class="p-5">
    <h5
      class="mb-2 text-xl font-bold tracking-tight text-[#003366] dark:text-white"
>
      {title}
    </h5>
    <div class="flex flex-col px-5 opacity-70 space-y-2 mt-4 text-base">
      <Info tipo={area}>
        <Area/>
      </Info>
      <Info tipo={tipoCama}>
        <Cama/>
      </Info>
      <Info tipo={capacidad}>
        <Personas/>
      </Info>
    </div>
    
  </div>
</div>
